.sign-up-container {
	display: flex;
	flex-direction: column;
	width: 300px;

	// h3{
	// 	margin: auto;
	// }

	// span{
	// 	margin: auto;
	// }

	.buttons-container {
		display: flex;
		justify-content: space-between;
	}
}